
<div class="panel panel-info">
  <div class="panel-heading">
    <p class="panel-title">Live cells</p>
  </div>
  <div class="panel-body">
    <p style="color: darkmagenta; font-weight: bold; font-size: 20px">
      {{ liveCells }}
    </p>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <p class="panel-title">Cycles</p>
  </div>
  <div class="panel-body">
    <p style="color: darkblue; font-weight: bold; font-size: 20px">
      {{ cycles }}
    </p>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <p class="panel-title">Cycles Speed</p>
  </div>
  <div class="panel-body">
    <p style="color: green; font-weight: bold; font-size: 20px">
      {{ frames }} fps
    </p>
  </div>
</div>
