<button 
  type="button" 
  class="btn btn-default"
  (click)="onRandom()"
  [disabled]="gameStarted">Random Board</button>

<button 
  type="button" 
  class="btn btn-primary"
  (click)="onStart()"
  [disabled]="gameStarted">Start</button>

<button 
  type="button" 
  class="btn btn-danger"
  (click)="onStop()"
  [disabled]="!gameStarted">Stop</button>

<button 
  type="button" 
  class="btn btn-warning"
  (click)="onClear()"
  [disabled]="gameStarted">Clear Board</button>

  <button 
  type="button" 
  class="btn btn-info"
  (click)="onSpeedUp()">Up</button>

  <button 
  type="button" 
  class="btn btn-info"
  (click)="onSpeedDown()">Down</button>